backend/.env
/backend/node_modules
backend/utils/DiscogsArchiver.py
backend/utils/artists.txt
backend/utils/artists_discography.json
backend/utils/discogs_artist_search.log
backend/utils/importData.js
/backend/utils/artist_images
backend/utils/list1.json
backend/utils/list2.json
backend/utils/list3.json
backend/utils/list4.json
backend/utils/list5.json
backend/utils/list6.json
backend/utils/list7.json
backend/utils/list8.json
backend/utils/list9.json
backend/utils/list10.json
backend/utils/list11.json
backend/utils/list12.json
backend/utils/list13.json
backend/utils/list14.json
/frontend/node_modules
/frontend/build
frontend/.env
