backend/.env
/backend/node_modules
backend/utils/DiscogsArchiver.py
backend/utils/artists.txt
backend/utils/artists_discography.json
backend/utils/discogs_artist_search.log
backend/utils/importData.js
/backend/utils/artist_images
backend/utils/list1.json
backend/utils/list2.json
/backend/images
/backend/images
backend/utils/list5.json

/backend/images
/backend/images
/frontend/node_modules
backend/utils/list4.json
backend/utils/list3.json
/backend/images
backend/utils/list6.json
/frontend/build
